body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 20rem;
  background-color: green;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
}
