* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 119px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 69px;
}

.grow-list {
  flex-grow: 1;
  padding-left: 62px;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.list li {
  cursor: pointer;
}

.list li:hover {
  color: #5955b3;
}

.nav-button {
  padding: 14px 28px;
  background-color: #5955b3;
  border: none;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

.heading-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #3c2f60;
}

.heading-text span {
  color: #5955b3;
}

.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #828282;
  margin-top: 28px;
}

.btn {
  margin-top: 72px;
}
